In [1]:
import pandas as pd

In [2]:
file_name = '2800_2019_data.json'

In [5]:
data_frame = pd.read_json(file_name, orient='columns')

In [9]:
data_frame

     close      code   high    low   open             time_key
0    25.25  HK.02800  26.00  25.20  25.95  2019-01-02 00:00:00
1    25.25  HK.02800  25.45  25.05  25.35  2019-01-03 00:00:00
2    25.80  HK.02800  25.85  25.10  25.15  2019-01-04 00:00:00
3    26.05  HK.02800  26.25  25.90  26.20  2019-01-07 00:00:00
4    26.00  HK.02800  26.20  25.90  26.10  2019-01-08 00:00:00
5    26.65  HK.02800  26.85  26.30  26.30  2019-01-09 00:00:00
6    26.75  HK.02800  26.80  26.40  26.60  2019-01-10 00:00:00
7    26.80  HK.02800  26.90  26.70  26.85  2019-01-11 00:00:00
8    26.45  HK.02800  26.80  26.35  26.80  2019-01-14 00:00:00
9    27.00  HK.02800  27.05  26.60  26.60  2019-01-15 00:00:00
10   27.10  HK.02800  27.15  26.75  26.90  2019-01-16 00:00:00
11   27.00  HK.02800  27.25  26.85  27.10  2019-01-17 00:00:00
12   27.25  HK.02800  27.35  27.10  27.20  2019-01-18 00:00:00
13   27.35  HK.02800  27.55  27.25  27.30  2019-01-21 00:00:00
14   27.15  HK.02800  27.45  27.00  27.45  2019-01-22 00:00:00
15   27.20  HK.02800  27.35  27.10  27.10  2019-01-23 00:00:00
16   27.30  HK.02800  27.35  27.05  27.25  2019-01-24 00:00:00
17   27.80  HK.02800  27.80  27.40  27.40  2019-01-25 00:00:00
18   27.75  HK.02800  28.05  27.65  27.85  2019-01-28 00:00:00
19   27.70  HK.02800  27.80  27.55  27.60  2019-01-29 00:00:00
20   27.80  HK.02800  27.90  27.60  27.75  2019-01-30 00:00:00
21   28.15  HK.02800  28.25  27.95  28.05  2019-01-31 00:00:00
22   28.10  HK.02800  28.40  28.00  28.40  2019-02-01 00:00:00
23   28.15  HK.02800  28.20  28.05  28.10  2019-02-04 00:00:00
24   28.15  HK.02800  28.20  27.70  28.00  2019-02-08 00:00:00
25   28.35  HK.02800  28.35  28.00  28.15  2019-02-11 00:00:00
26   28.40  HK.02800  28.45  28.20  28.30  2019-02-12 00:00:00
27   28.70  HK.02800  28.80  28.35  28.40  2019-02-13 00:00:00
28   28.65  HK.02800  28.75  28.45  28.60  2019-02-14 00:00:00
29   28.10  HK.02800  28.50  28.00  28.45  2019-02-15 00:00:00
..     ...       ...    ...    ...    ...                  ...
216  26.80  HK.02800  26.85  26.55  26.60  2019-11-18 00:00:00
217  27.25  HK.02800  27.30  26.75  26.80  2019-11-19 00:00:00
218  27.05  HK.02800  27.15  26.95  27.05  2019-11-20 00:00:00
219  26.60  HK.02800  26.75  26.45  26.75  2019-11-21 00:00:00
220  26.75  HK.02800  26.85  26.65  26.75  2019-11-22 00:00:00
221  27.15  HK.02800  27.30  26.85  26.85  2019-11-25 00:00:00
222  27.10  HK.02800  27.45  27.10  27.40  2019-11-26 00:00:00
223  27.15  HK.02800  27.20  27.05  27.10  2019-11-27 00:00:00
224  27.05  HK.02800  27.20  26.95  27.00  2019-11-28 00:00:00
225  26.50  HK.02800  27.05  26.45  27.05  2019-11-29 00:00:00
226  26.65  HK.02800  26.70  26.55  26.65  2019-12-02 00:00:00
227  26.55  HK.02800  26.65  26.20  26.50  2019-12-03 00:00:00
228  26.25  HK.02800  26.35  26.15  26.20  2019-12-04 00:00:00
229  26.45  HK.02800  26.45  26.25  26.40  2019-12-05 00:00:00
230  26.65  HK.02800  26.75  26.50  26.55  2019-12-06 00:00:00
231  26.70  HK.02800  26.80  26.60  26.60  2019-12-09 00:00:00
232  26.60  HK.02800  26.75  26.55  26.60  2019-12-10 00:00:00
233  26.80  HK.02800  26.90  26.55  26.60  2019-12-11 00:00:00
234  27.20  HK.02800  27.25  26.95  26.95  2019-12-12 00:00:00
235  27.85  HK.02800  27.90  27.60  27.70  2019-12-13 00:00:00
236  27.70  HK.02800  27.95  27.65  27.80  2019-12-16 00:00:00
237  28.00  HK.02800  28.10  27.75  27.90  2019-12-17 00:00:00
238  28.05  HK.02800  28.20  27.95  28.05  2019-12-18 00:00:00
239  28.00  HK.02800  28.15  27.85  28.15  2019-12-19 00:00:00
240  28.15  HK.02800  28.20  27.95  28.00  2019-12-20 00:00:00
241  28.10  HK.02800  28.20  28.00  28.20  2019-12-23 00:00:00
242  28.00  HK.02800  28.15  27.95  28.10  2019-12-24 00:00:00
243  28.40  HK.02800  28.45  28.20  28.30  2019-12-27 00:00:00
244  28.55  HK.02800  28.65  28.35  28.45  2019-12-30 00:00:00
245  28.45  HK.02800  28.50  28.30  28.45  2019-12-31 00:00:00

[246 rows x 6 columns]

In [7]:
num_of_row = len(data_frame.index)
previous_k = 0
previous_d = 0b

In [10]:
data_frame[0:9]

   close      code   high    low   open             time_key
0  25.25  HK.02800  26.00  25.20  25.95  2019-01-02 00:00:00
1  25.25  HK.02800  25.45  25.05  25.35  2019-01-03 00:00:00
2  25.80  HK.02800  25.85  25.10  25.15  2019-01-04 00:00:00
3  26.05  HK.02800  26.25  25.90  26.20  2019-01-07 00:00:00
4  26.00  HK.02800  26.20  25.90  26.10  2019-01-08 00:00:00
5  26.65  HK.02800  26.85  26.30  26.30  2019-01-09 00:00:00
6  26.75  HK.02800  26.80  26.40  26.60  2019-01-10 00:00:00
7  26.80  HK.02800  26.90  26.70  26.85  2019-01-11 00:00:00
8  26.45  HK.02800  26.80  26.35  26.80  2019-01-14 00:00:00

In [12]:
df_max = data_frame[0:9].max()
df_max

close                      26.8
code                   HK.02800
high                       26.9
low                        26.7
open                      26.85
time_key    2019-01-14 00:00:00
dtype: object

In [15]:
df_min =  data_frame[0:9].min()
df_min

close                     25.25
code                   HK.02800
high                      25.45
low                       25.05
open                      25.15
time_key    2019-01-02 00:00:00
dtype: object

In [17]:
data_frame[-8:]

     close      code   high    low   open             time_key
238  28.05  HK.02800  28.20  27.95  28.05  2019-12-18 00:00:00
239  28.00  HK.02800  28.15  27.85  28.15  2019-12-19 00:00:00
240  28.15  HK.02800  28.20  27.95  28.00  2019-12-20 00:00:00
241  28.10  HK.02800  28.20  28.00  28.20  2019-12-23 00:00:00
242  28.00  HK.02800  28.15  27.95  28.10  2019-12-24 00:00:00
243  28.40  HK.02800  28.45  28.20  28.30  2019-12-27 00:00:00
244  28.55  HK.02800  28.65  28.35  28.45  2019-12-30 00:00:00
245  28.45  HK.02800  28.50  28.30  28.45  2019-12-31 00:00:00

In [34]:
len(data_frame)

246

In [38]:
data_frame.iloc[0]['time_key']

'2019-01-02 00:00:00'